pkgbase = asunainstall
	pkgdesc = Installer for Project Asuna
	pkgver = 0.6
	pkgrel = 2
	url = https://asunaproject.nl
	arch = x86_64
	source = asunainstall
	sha256sums = f9c9f86dd0e1f98ef9803d96d4fae70cad0355e1407ec71ed24b7045d60312ce

pkgname = asunainstall
