pkgbase = asunainstall
	pkgdesc = Installer for Project Asuna
	pkgver = 0.4.5
	pkgrel = 1
	url = https://asunaproject.nl
	arch = x86_64
	source = asunainstall
	sha256sums = 169fdb03528b476d5d866bbcb5d6d32826e927d14794cd293ff682ce355a55af

pkgname = asunainstall
