pkgbase = asunainstall
	pkgdesc = Installer for Project Asuna
	pkgver = 0.6
	pkgrel = 1
	url = https://asunaproject.nl
	arch = x86_64
	source = asunainstall
	sha256sums = 19860abb1a288e65088fb298ac71b00ce6f37adca4e93d1832342b535613f424

pkgname = asunainstall
